<div style="text-align: right;">
  <%= link_to 'Novo Relatório', new_xml_file_path, style: "display: inline-flex; justify-content: center; align-items: center; text-align: center; background-color: #3b82f6; color: white; font-weight: bold; padding: 8px 16px; border-radius: 4px; text-decoration: none;", class: "hover:bg-blue-700" %>
</div>
